html,
body {
	// height: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header{
	
// background-image: url(../images/background.png);
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	background-attachment: fixed;
// 	-webkit-background-size: cover;
// 	-moz-background-size: cover;
// 	-o-background-size: cover;
// 	background-size: cover;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}





