@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'import';


.header {
 &__aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right:1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
    .logo{
      width: 124px;
      height: 124px;
      margin: 0 auto 45px;
      margin-top: 20px;
    }
  }
  .nav-ico{
    width: 59px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 9px;
  }
  .menu{
    &__list-item{
      text-align: center;
      margin-bottom: 35px;
      margin-right: 20px;
      margin-left: 20px;
        :hover {
            color: #52BFFF;
            transition: all 0.7s;
            text-shadow: 4px 4px 6px #666;
          }
    }
    &__item-link{
      color: #eee;
      font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-shadow: 1px 1px 2px #666;
    
        
    }
    .menu__item-lang{
      font-size: 24px;
      line-height: 18px;
      color:#eee;
      text-shadow: 1px 1px 2px #666;
    :hover {
        color: #52BFFF;
        transition: all 0.7s;
        text-shadow: 4px 4px 6px #666;
      }
    }
    &__list-item:last-child{
      margin-bottom: 60px;
    }
    
  }
  &__location{
    text-align: center;
    font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color:#eee;
     display: inline-block;
     position: relative;
     padding-left: 19px;
     &::before{
      content:"";
      position: absolute;
      width: 13px;
      height: 15px;
      background-image:url(../images/location.svg);
      left: 0;
      top: 0;
     }
  }
}



.slider-item__info-title{
  text-align: center;
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
}
.slider-item__info-text{
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
}
.header__slider {
 
  &-item:nth-child(1) { 
    background-image: url(../images/background.png);
    height: 100vh;
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
     &-item:nth-child(2) {
       background-image: url(../images/background2.png);
       height: 100vh;

       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
     }
     &-item:nth-child(3) {
       background-image: url(../images/bg2.jpeg);
       height: 100vh;

       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
     }
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

.slick-dots {
  bottom: 50px;

  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }

  li button:before {
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;

  }

  li.slick-active button:before {
    background-color: #fff;
  }
}











/* 320px - найменший девайс. Це гранична ширина екрану, під яку потрібно перевіряти верстку */
/* 991px - ширина планшетів */


/* == ВАРІАНТ 1 == */

/* Екстремальні девайси (портретні телефони, < 576px)  */
/* Малі девайси (горизонтальні телефони, >= 576px) */
@media (min-width: 576px) {}

/* Середні девайси (планшети, >= 768px) */
@media (min-width: 768px) {}

/* Великі девайси (десктопи, >= 992px) */
@media (min-width: 992px) {}

/* Надвеликі девайси (великі десктопи, >= 1200px) */
@media (min-width: 1200px) {}

/* Мегавеликі девайси (великі десктопи, >=1400px) */
@media (min-width: 1400px) {}


/* == ВАРІАНТ 2 == */

/* Екстремальні девайси (телефони, < 576px) */
@media (max-width: 575.98px) {}

/* Малі девайси (горизонтальні телефони, < 768px) */
@media (max-width: 767.98px) {}

/* Середні девайси (планшети, < 992px) */
@media (max-width: 991.98px) {}

/* Великі девайси (великі десктопи, < 1200px) */
@media (max-width: 1199.98px) {}

/* Мегавеликі девайси (великі десктопи) */
/* Тут нема @media, так як такі брейкпойнти не мають верхньої межі по ширині width */


/* == ВАРІАНТ 2 (власний)== */

/* Екстремальні девайси (телефони, < 576px) */
@media (max-width: 576px) {}

/* Малі девайси (горизонтальні телефони, < 768px) */
@media (max-width: 768px) {}

/* Середні девайси (планшети, < 992px) */
@media (max-width: 992px) {}

/* Великі девайси (великі десктопи, < 1200px) */
@media (max-width: 1200px) {}

/* Мегавеликі девайси (великі десктопи) */
/* Тут нема @media, так як такі брейкпойнти не мають верхньої межі по ширині width */


/* == ВАРІАНТ 3 == */

/* Екстремальні девайси (портретні телефони, < 576px) */
@media (max-width: 575.98px) {}

/* Малі девайси (горизонтальні телефони, >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Середні девайси (планшети, >= 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Великі девайси (десктопи, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Мегавеликі девайси (великі десктопи, >= 1200px) */
@media (min-width: 1200px) {}